In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [2]:
folder = os.path.expanduser('~/Desktop/Machine Learning/data_ML_Project')
file_path = os.path.join(folder, 'JKP.csv')  # No extension

if os.path.exists(file_path):
    data = pd.read_csv(file_path)
else:
    print("File still not found!")

In [5]:
data.head()

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
0,usa,age,monthly,vw_cap,-1,502,8,1926-03-31,-0.086738
1,usa,age,monthly,vw_cap,-1,505,12,1926-04-30,-0.000572
2,usa,age,monthly,vw_cap,-1,510,17,1926-05-31,-0.006332
3,usa,age,monthly,vw_cap,-1,512,21,1926-06-30,-0.003012
4,usa,age,monthly,vw_cap,-1,503,23,1926-07-31,0.003211

In [6]:
# Find columns with string (object or string) dtype
print("String columns:", data.select_dtypes(include=["object", "string"]).columns.tolist())

String columns: ['location', 'name', 'freq', 'weighting', 'date']

In [7]:
# List of columns to drop
columns_to_drop = [ 
"location", "freq","weighting",
]

data.drop(columns=columns_to_drop, inplace=True)

In [8]:
# Identify columns where more than 70% of values are NaN
nan_majority_columns = [column for column in data.columns if data[column].isna().mean() > 0.7]

print("Columns where the majority of values were converted to NaN:", nan_majority_columns)

data.drop(columns=nan_majority_columns, inplace=True)

Columns where the majority of values were converted to NaN: []

In [9]:
data.to_csv("JKP_filtered.csv", index=False)