In [1]:
import pandas as pd
import numpy as np
import itertools

data = pd.read_csv("JKP.csv", delimiter=",")
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
0,usa,age,monthly,vw_cap,-1,502,8,1926-03-31,-0.086738
1,usa,age,monthly,vw_cap,-1,505,12,1926-04-30,-0.000572
2,usa,age,monthly,vw_cap,-1,510,17,1926-05-31,-0.006332
3,usa,age,monthly,vw_cap,-1,512,21,1926-06-30,-0.003012
4,usa,age,monthly,vw_cap,-1,503,23,1926-07-31,0.003211
...,...,...,...,...,...,...,...,...,...
144615,usa,zero_trades_252d,monthly,vw_cap,1,3627,1622,2024-08-31,0.031409
144616,usa,zero_trades_252d,monthly,vw_cap,1,3631,1630,2024-09-30,-0.011177
144617,usa,zero_trades_252d,monthly,vw_cap,1,3614,1634,2024-10-31,-0.008210
144618,usa,zero_trades_252d,monthly,vw_cap,1,3595,1650,2024-11-30,-0.052747
144619,usa,zero_trades_252d,monthly,vw_cap,1,3581,1677,2024-12-31,-0.009848

In [ ]:
df = data.pivot(index='date', columns='name', values='ret').sort_index()
# delete dates before 1961-04-30, to match compustat data
df = df[df.index >= '1961-04-30']
df

name,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,taccruals_at,taccruals_ni,tangibility,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d
date,,,,,,,,,,,,,,,,,,,,,
1961-04-30,0.019487,0.015249,-0.013813,0.012326,-0.006382,0.016691,0.014976,-0.022042,0.016395,0.010253,...,-0.001125,-0.001126,-0.006590,-0.020916,0.000648,0.003519,NaN,0.007010,0.002138,0.008680
1961-05-31,-0.006546,0.010749,-0.005495,0.012378,-0.010345,0.009824,0.007169,0.017389,0.001572,0.021767,...,-0.004375,-0.013310,-0.005074,-0.018735,0.002001,0.000398,NaN,0.002672,0.006009,-0.004110
1961-06-30,-0.007170,-0.009169,0.001868,-0.009826,0.009174,0.005295,-0.000986,0.003632,0.001673,-0.007845,...,0.003920,0.010754,0.006755,0.001948,0.033936,0.006029,NaN,0.030204,0.036330,0.015208
1961-07-31,-0.015758,0.002108,0.002564,-0.012104,-0.005790,0.004274,0.007070,0.011759,0.007217,0.003553,...,0.005869,0.014990,0.001108,0.001323,0.014789,0.013957,NaN,0.012716,0.010584,-0.001402
1961-08-31,0.010786,-0.022747,0.010979,-0.005435,-0.004738,-0.019254,-0.015967,0.008784,-0.017587,-0.024423,...,-0.015807,-0.014648,-0.005841,0.021489,0.015569,0.002457,NaN,0.012222,0.011525,0.017057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,-0.009159,0.010798,0.018197,-0.035742,-0.027581,-0.009432,-0.012035,-0.008847,0.004118,-0.020158,...,-0.001930,0.005331,-0.027875,0.028630,0.028526,-0.004074,0.000093,0.028476,0.030556,0.031409
2024-09-30,0.015388,0.005373,0.007651,-0.009591,-0.007449,0.003045,-0.009871,0.003660,0.008696,-0.019773,...,0.010853,0.011034,-0.003835,0.016282,-0.009747,0.005741,-0.006687,-0.009855,-0.015172,-0.011177
2024-10-31,0.030176,-0.017033,-0.009476,0.002699,-0.020468,-0.015150,0.006831,-0.030677,0.002992,-0.004121,...,-0.003090,0.006834,0.007804,0.025230,-0.007247,-0.012540,-0.015458,-0.007306,-0.001944,-0.008210
2024-11-30,0.055421,-0.058225,-0.021419,0.017654,-0.017568,-0.029310,0.003207,-0.008216,-0.014642,-0.015056,...,0.011638,0.013911,0.015177,0.020192,-0.056217,-0.023397,0.001817,-0.056044,-0.046449,-0.052747
2024-12-31,0.007252,-0.006475,0.011345,-0.000275,0.003651,0.006723,-0.008750,-0.002555,0.003847,-0.007924,...,0.005474,0.001703,0.001851,0.005898,-0.008834,-0.015877,-0.003414,-0.008837,-0.007405,-0.009848

In [3]:
# print the columns names with missing values and the number of missing values
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with missing values and their counts:")
print(missing_columns)

Columns with missing values and their counts:
name
eqnetis_at        127
eqnpo_me          127
eqpo_me           127
iskew_hxz4_21d     86
ivol_hxz4_21d      86
netis_at          127
ni_inc8q           49
niq_at             64
niq_at_chg1        79
niq_be             64
niq_be_chg1        79
niq_su             43
ocfq_saleq_std     56
saleq_gr1          19
saleq_su           43
sti_gr1a           58
z_score            13
dtype: int64

In [4]:
# flag matrice qui marque les valeurs manquantes avec 1 et les valeurs non manquantes avec 0
flag_matrix = df.isna().astype(int)

In [ ]:
# fonction pour calculer les blocs de NaN dans les colonnes
def nan_blocks_info(series):
    """
    Retourne une liste des longueurs des blocs consÃ©cutifs de NaN dans la Series.
    """
    is_na = series.isna()
    run_lengths = []
    for val, group in itertools.groupby(is_na):
        length = sum(1 for _ in group)
        if val:  # si val == True => bloc de NaN
            run_lengths.append(length)
    return run_lengths

# rÃ©sumÃ© pour chaque colonne
summary = []
for col in df.columns:
    run_lengths = nan_blocks_info(df[col])
    summary.append({
        'factor': col,
        'num_blocks': len(run_lengths),
        'block_sizes': run_lengths
    })


summary_df = pd.DataFrame(summary)
summary_df

                factor  num_blocks block_sizes
0                  age           0          []
1              aliq_at           0          []
2             aliq_mat           0          []
3             ami_126d           0          []
4                at_be           0          []
..                 ...         ...         ...
148  turnover_var_126d           0          []
149            z_score           1        [13]
150   zero_trades_126d           0          []
151    zero_trades_21d           0          []
152   zero_trades_252d           0          []

[153 rows x 3 columns]

In [7]:
# fonction pour calculer les blocs de NaN, leurs longueurs et les dates de dÃ©but/fin
def nan_blocks_info(series):
    """
    Retourne une liste de dictionnaires pour les blocs de NaN dans la Series,
    avec 'start_date', 'end_date' et 'length' pour chaque bloc.
    """
    is_na = series.isna().tolist()
    dates = series.index.tolist()
    blocks = []
    
    i = 0
    n = len(series)
    while i < n:
        if is_na[i]:
            start_idx = i
            # Avancer jusqu'Ã  la fin du bloc NaN
            while i < n and is_na[i]:
                i += 1
            end_idx = i - 1
            # Conserver le bloc
            blocks.append({
                'start_date': dates[start_idx],
                'end_date': dates[end_idx],
                'length': end_idx - start_idx + 1
            })
        else:
            i += 1
            
    return blocks


detailed_blocks = []
for col in df.columns:
    blocks = nan_blocks_info(df[col])
    for block in blocks:
        detailed_blocks.append({
            'factor': col,
            'start_date': block['start_date'],
            'end_date': block['end_date'],
            'length': block['length']
        })

detailed_df = pd.DataFrame(detailed_blocks)
print(detailed_df)

            factor start_date   end_date  length
0       eqnetis_at 1961-04-30 1971-10-31     127
1         eqnpo_me 1961-04-30 1971-10-31     127
2          eqpo_me 1961-04-30 1971-10-31     127
3   iskew_hxz4_21d 1961-04-30 1967-08-31      77
4   iskew_hxz4_21d 1967-12-31 1968-06-30       7
5   iskew_hxz4_21d 1969-01-31 1969-02-28       2
6    ivol_hxz4_21d 1961-04-30 1967-08-31      77
7    ivol_hxz4_21d 1967-12-31 1968-06-30       7
8    ivol_hxz4_21d 1969-01-31 1969-02-28       2
9         netis_at 1961-04-30 1971-10-31     127
10        ni_inc8q 1961-04-30 1965-04-30      49
11          niq_at 1961-04-30 1966-07-31      64
12     niq_at_chg1 1961-04-30 1967-10-31      79
13          niq_be 1961-04-30 1966-07-31      64
14     niq_be_chg1 1961-04-30 1967-10-31      79
15          niq_su 1961-04-30 1964-10-31      43
16  ocfq_saleq_std 1961-04-30 1965-11-30      56
17       saleq_gr1 1961-04-30 1962-10-31      19
18        saleq_su 1961-04-30 1964-10-31      43
19        sti_gr1a 1961-04-30 1966-01-31      58
20         z_score 1961-04-30 1962-04-30      13

In [8]:
# remplir par 0 tous les blocs qui commencent le 1961-04-30
target_start = pd.Timestamp('1961-04-30')
for factor in df.columns:
    blocks = nan_blocks_info(df[factor])
    for block in blocks:
        if block['start_date'] == target_start:
            df.loc[block['start_date']:block['end_date'], factor] = 0.0

# forward fill les NaN restants
df.fillna(method='ffill', inplace=True)


print("Nombre de NaN restant par colonne :")
df.isna().sum()

Nombre de NaN restant par colonne :

/var/folders/fz/llm37_ps0jg8_f7jgrpnby200000gn/T/ipykernel_49310/67672944.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

name
age                  0
aliq_at              0
aliq_mat             0
ami_126d             0
at_be                0
                    ..
turnover_var_126d    0
z_score              0
zero_trades_126d     0
zero_trades_21d      0
zero_trades_252d     0
Length: 153, dtype: int64

In [9]:
df['year'] = df.index.year

# calculer une 'subperiod' 
start_year = df['year'].min()  
df['subperiod'] = ((df['year'] - start_year) // 5)


def label_subperiod(x):
    start = start_year + 5*x
    end = start + 4
    return f"{start}-{end}"
df['subperiod_label'] = df['subperiod'].map(label_subperiod)

# winsorisation (1e-99e percentiles), par subperiod et par facteur
df_winsor = df.copy()
factor_cols = df.columns.drop(['year', 'subperiod', 'subperiod_label'])

for sub_label, group in df_winsor.groupby('subperiod_label'):
    lower_bounds = group[factor_cols].quantile(0.01)
    upper_bounds = group[factor_cols].quantile(0.99)
    mask = df_winsor['subperiod_label'] == sub_label
    df_winsor.loc[mask, factor_cols] = df_winsor.loc[mask, factor_cols].clip(
        lower=lower_bounds, upper=upper_bounds, axis=1
    )

# retire les colonnes ajoutÃ©es
df_winsor = df_winsor.drop(columns=['year', 'subperiod', 'subperiod_label'])

df_winsor

name,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,taccruals_at,taccruals_ni,tangibility,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d
date,,,,,,,,,,,,,,,,,,,,,
1961-04-30,0.019487,0.015249,-0.013813,0.012326,-0.006382,0.016691,0.014976,-0.022042,0.016395,0.010253,...,-0.001125,-0.001126,-0.006590,-0.020916,0.000648,0.003519,0.000000,0.007010,0.002138,0.008680
1961-05-31,-0.006546,0.010749,-0.005495,0.012378,-0.010345,0.009824,0.007169,0.017389,0.001572,0.021767,...,-0.004375,-0.013310,-0.005074,-0.018735,0.002001,0.000398,0.000000,0.002672,0.006009,-0.004110
1961-06-30,-0.007170,-0.009169,0.001868,-0.009826,0.009174,0.005295,-0.000986,0.003632,0.001673,-0.007845,...,0.003920,0.010754,0.006755,0.001948,0.033936,0.006029,0.000000,0.030204,0.036330,0.015208
1961-07-31,-0.015758,0.002108,0.002564,-0.012104,-0.005790,0.004274,0.007070,0.011759,0.007217,0.003553,...,0.005869,0.014990,0.001108,0.001323,0.014789,0.013957,0.000000,0.012716,0.010584,-0.001402
1961-08-31,0.010786,-0.022747,0.010979,-0.005435,-0.004738,-0.019254,-0.015967,0.008784,-0.017587,-0.024423,...,-0.013742,-0.014648,-0.005841,0.021489,0.015569,0.002457,0.000000,0.012222,0.011525,0.017057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,-0.009159,0.010798,0.018197,-0.035742,-0.027581,-0.009432,-0.012035,-0.008847,0.004118,-0.020158,...,-0.001930,0.005331,-0.027875,0.028630,0.028526,-0.004074,0.000093,0.028476,0.030556,0.031409
2024-09-30,0.015388,0.005373,0.007651,-0.009591,-0.007449,0.003045,-0.009871,0.003660,0.008696,-0.019773,...,0.010853,0.011034,-0.003835,0.016282,-0.009747,0.005741,-0.006687,-0.009855,-0.015172,-0.011177
2024-10-31,0.030176,-0.017033,-0.009476,0.002699,-0.020468,-0.015150,0.006831,-0.030677,0.002992,-0.004121,...,-0.003090,0.006834,0.007804,0.025230,-0.007247,-0.012540,-0.015458,-0.007306,-0.001944,-0.008210
2024-11-30,0.055421,-0.054281,-0.021419,0.017654,-0.017568,-0.029310,0.003207,-0.008216,-0.014642,-0.015056,...,0.011638,0.013911,0.015177,0.020192,-0.056217,-0.023397,0.001817,-0.056044,-0.046449,-0.052747
2024-12-31,0.007252,-0.006475,0.011345,-0.000275,0.003651,0.006723,-0.008750,-0.002555,0.003847,-0.007924,...,0.005474,0.001703,0.001851,0.005898,-0.008834,-0.015877,-0.003414,-0.008837,-0.007405,-0.009848

In [10]:
df_scaled = df_winsor.copy()

# colonne year pour dÃ©couper en tranches de 5 ans
df_scaled['year'] = df_scaled.index.year
start_year = df_scaled['year'].min()
df_scaled['subperiod'] = (df_scaled['year'] - start_year) // 5

# pour chaque subperiod appliquer un z-score scaling
for sp, group in df_scaled.groupby('subperiod'):
    bloc = group[df_winsor.columns]  # uniquement les colonnes de facteurs
    mean = bloc.mean()
    std = bloc.std()
    scaled_block = (bloc - mean) / std
    # gÃ©rer les colonnes avec std = 0 (pas de variation), mettre 0
    scaled_block = scaled_block.fillna(0.0)
    # rÃ©injecter dans df_scaled
    df_scaled.loc[bloc.index, bloc.columns] = scaled_block

# supprimer les colonnes 
df_scaled = df_scaled.drop(columns=['year', 'subperiod'])

df_scaled.head(10)

name,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,taccruals_at,taccruals_ni,tangibility,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d
date,,,,,,,,,,,,,,,,,,,,,
1961-04-30,1.577835,0.897081,-0.626035,1.054021,-0.761171,1.181389,0.926318,-1.543158,1.184915,0.335843,...,-0.372036,-0.320325,-0.739804,-1.595013,0.082831,0.213937,-0.207332,0.321246,0.155879,0.396735
1961-05-31,-0.278140,0.601107,-0.027720,1.058455,-1.109277,0.681472,0.305776,0.946574,0.187357,1.008643,...,-0.693780,-1.561392,-0.596770,-1.454757,0.133090,-0.127573,-0.207332,0.137145,0.305551,-0.184972
1961-06-30,-0.322650,-0.708873,0.501833,-0.840416,0.605130,0.351750,-0.342318,0.077939,0.194152,-0.721630,...,0.127572,0.889836,0.519852,-0.124857,1.319674,0.488755,-0.207332,1.305703,1.477677,0.693628
1961-07-31,-0.934875,0.032780,0.551891,-1.035196,-0.709151,0.277468,0.297956,0.591063,0.567256,-0.055672,...,0.320532,1.321310,-0.013215,-0.165086,0.608271,1.356477,-0.207332,0.563439,0.482381,-0.061831
1961-08-31,0.957530,-1.601964,1.157191,-0.464858,-0.616791,-1.435335,-1.533015,0.403222,-1.101994,-1.690303,...,-1.621279,-1.697687,-0.669136,1.131541,0.637228,0.097699,-0.207332,0.542464,0.518783,0.777711
1961-09-30,-0.100240,-1.967666,0.597584,1.363404,0.153303,-1.446486,0.093384,-0.766645,-0.712124,-1.337793,...,0.249188,1.075917,-0.748223,1.448279,1.409948,-0.130926,-0.207332,1.593965,1.277760,1.988115
1961-10-31,0.758306,-0.850525,0.818923,-0.029177,1.915117,-0.969957,-0.216186,-0.364485,-1.179078,-0.467314,...,0.993167,2.743070,1.066939,1.979974,1.200490,-1.417407,-0.207332,1.469567,0.937278,1.629310
1961-11-30,0.990556,-1.027322,0.005355,0.924282,-0.334102,-0.778430,-0.564795,0.895634,0.196440,-0.645844,...,-0.321794,-0.872632,-1.937291,-0.349566,-0.559613,-1.083284,-0.207332,-0.132710,-0.507215,-0.112370
1961-12-31,-1.473279,1.553768,-0.924990,-0.634007,-0.564309,1.450220,1.759293,0.222859,1.411348,2.077005,...,1.118857,-0.031425,0.497940,-1.560631,-0.692245,0.491396,-0.207332,-0.997322,-0.692361,-1.310688
1962-01-31,-0.602043,1.524680,-2.804855,2.222806,-1.076544,2.258704,3.367253,-0.525249,3.121534,2.982285,...,2.604588,2.395732,1.023236,-1.530720,-0.463012,-0.928126,-0.207332,-0.109339,-0.492321,-0.125073

In [ ]:
# ajouer la matrice des flages Ã  la fin de df_scaled
df_clean = pd.concat([df_scaled, flag_matrix], axis=1)
df_clean.to_csv("JKP_clean.csv", index=True)